".text.html.confluence":
  code:
    prefix: "code"
    body: '''
      {code:${1:lang}}
      $0
      {code}
    '''
  picture:
    prefix: "pics"
    body: '''
      !${1:filename.png}|align=${2:alignment},border=${3:1}!
    '''
  "Macro (with body)":
    prefix: "mm"
    body: "{$1}$0{${1/\\:.*//}}"
  Macro:
    prefix: "m"
    body: "{$1}$0"
